* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

header div {
    text-align: left;
    flex-basis: 50%;
}

header h1 {
    font-size: clamp(50px, 7vw, 125px);
    color: #303133;
    margin: 0;
    line-height: 1.2;
}

header h2 {
    color: #303133;
    font-size: clamp(16px, 2vw, 20px);
}

.logo {
    width: clamp(80px, 10vw, 100px);
    height: auto;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #303133;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    text-align: center;
    margin-bottom: 30px;
}

.image-container img {
    width: clamp(200px, 50vw, 300px);
    height: auto;
}

.bio {
    flex: 2;
    text-align: left;
}

.bio h2 {
    margin-bottom: 20px;
    font-size: clamp(2rem, 4vw, 2.5rem);
}

.bio p {
    font-size: clamp(1rem, 2vw, 1.1rem);
    line-height: 1.6;
}

.portfolio-section {
    background-color: #f4f4f4;
    color: #303133;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.portfolio-title {
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: left;
    flex: 1;
    margin-bottom: 20px;
}

.portfolio-description {
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: left;
    flex: 2;
    padding-left: 50px;
    color: #666;
}

.logo {
    width: clamp(80px, 10vw, 100px);
    height: clamp(80px, 10vw, 100px);
    animation: rotateLogo 6s infinite linear;
}

@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-grid {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* spacing between images */
    padding: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px; /* Optional: adds rounded corners */
}

.fullscreen-image {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
